.wrapper {
    padding: 5px 20px;
}

.wrapper fieldset {
    margin: 20px 0;
}

label {
    margin: 5px 5px 5px 5px;
}

p {

}

#signup:hover {
    box-shadow: 3px 3px gray;
}

#mapButton {
    margin-left: 20px;
    margin-right: 10px;
}

#mapButton:hover {
    box-shadow: 3px 3px gray;
}

#description {
    height: 100px;
    width: 300px;
    resize: none;
    padding: 12px 12px;
    box-sizing: border-box;
}

#description-label {
    margin-top: 8px;
    margin-left: 20px;
    position: absolute;
}

#submit {
    margin-top: 100px;
    margin-left: 400px
}