.wrapper {
    padding: 5px 20px;
}

.wrapper fieldset {
    margin: 20px 0;
}

label {
    margin: 5px 5px 5px 5px;
}

h1 {
    color: #557c3e;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: .5px .5px .5px #222;
}

li {
    list-style: none;
}
h3 {

    font-family: 'Lora', serif;

}

#signup:hover {
    box-shadow: 3px 3px gray;
}

#mapButton {
    margin-left: 20px;
    margin-right: 10px;
}

#mapButton:hover {
    box-shadow: 3px 3px gray;
}

#goBack:hover {
    box-shadow: 3px 3px gray;
}

#description {
    height: 100px;
    width: 300px;
    resize: none;
    padding: 12px 12px;
    box-sizing: border-box;
}

#description-label {
    margin-top: 8px;
    margin-left: 20px;
    position: absolute;
}

#submit {
    margin-top: 100px;
    margin-left: 400px
}